#container {
	text-align: center;
	margin: center;
	border-radius: 5px;
	padding: 10px; /* เพิ่ม padding เพื่อให้ดูสวยงาม */
}

#field {
	border: 1px solid red;
	border-radius: 5px;
	background-image: url(../../../public/1000_F_83273170_hoDfcLNfuEoTM3R8BKvmQRKFX03eVOJ3.jpg);
	background-position: center;
	background-size: cover; /* ทำให้ภาพพื้นหลังครอบคลุมทั้งพื้นที่ */
	margin: 10px;
	margin: auto;
	height: 400px;
	width: 700px;
	position: relative; /* กำหนดให้เป็น position relative สำหรับลูกบอล */
}

#control {
	margin: 10px;
}

#ball {
	border: 1px solid green;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	background-size: cover; /* ทำให้ภาพครอบคลุม */
	position: absolute; /* เปลี่ยนเป็น absolute เพื่อให้สามารถเคลื่อนที่ได้ */
	height: 20px;
	width: 20px;
	animation: spin 10s linear infinite; /* หมุนลูกบอล */
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
